<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="6ff25625-fc43-46c7-abce-af501aa92344" Publisher="CN=Mahesh" Version="1.0.0.0" />

  <Properties>
    <DisplayName>SemanticZoom</DisplayName>
    <PublisherDisplayName>Mahesh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SemanticZoom.App">
      <VisualElements DisplayName="SemanticZoom" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png"
                      Description="SemanticZoom" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>