<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2c44592b-cb7c-4fcb-ac09-c1e3e4a01fee" Publisher="CN=Mahesh" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BackgroundTaskApp</DisplayName>
    <PublisherDisplayName>Mahesh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BackgroundTaskApp.App">
      <VisualElements DisplayName="BackgroundTaskApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png"
                      Description="BackgroundTaskApp" ForegroundText="light" BackgroundColor="#464646">
        <LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Tasks.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>