@{
    ViewBag.Title = "RazorSyntaxChanges";
}
@model MVCExamples.Models.TestModel

<h2>Razor Syntax Changes</h2>


<script src="~/Scripts/jquery-1.7.2.js"></script>


<div @{if (Model.myTestProperty != null)
       { <text>class=not-null</text> } }>
    Content
</div>


<div class="@Model.myTestProperty">Content</div>

<input checked="@Model.IsSelected" type="checkbox" />